@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100vh;
  width: 100wh;
  display: flex;
  justify-content: center;
  background-color: #eee;
}
.btn-shadow {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.blue-linear-gradient {
  background: linear-gradient(96deg, #0037c5 8.58%, #08005f 102.54%);
}

.primary-btn-bg-gradient {
  background: linear-gradient(83deg, #ff8412 -30.08%, #d23758 60.11%, #b1008a 97.49%);
}

.outline-btn-bg-gradient {
  background: linear-gradient(94deg, #f1f1f1 22.44%, #f1f1f1 124.46%);
}
